      
* {box-sizing: border-box; margin: 0px}

body {
  font-family: "Proxima Nova", Yu Gothic, Arial, sans-serif; 
  padding: 0px;
  background: white;
  padding-top: 30px;
}

.menuimg img {
  margin-bottom: 10px;
  height: 110px;

  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.jumbotron {
  background-color: #fffef2;
  padding-bottom: 0px;
}

/* barva linků menu */
.menuimg a:hover img {
  -webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/* Karty */
.card {
  padding: 20px;
  margin-top: 10px;
  text-align: center 
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: white;
  margin-top: 100px;
  clear: both;
  border-top-style: solid;
  width: 100%;
  height: 50px
}

.page-title {
  text-align: center;
  font-family: "Courier New", monospace;
}

h2 {
  text-align: center;
  font-size: 25px;
  font-family: "Courier New", monospace;

}

p {
  text-align: justify;
  text-indent: 30px;
  line-height: normal
} 

/* Galerie */
.gallery {border: 1px solid #ccc;}
.gallery:hover {border: 1px solid #777;}
.gallery img {
  width: 100%;
  height: auto;
}
.desc {
  padding: 15px;
  text-align: center;
}


.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.mezera:before {
  content: "";
  display: table;
  height: 70px
}
