{% extends "base.html.twig" %}
{% block content %}
      <div class="container" id="nav">
      <div class="row text-center">
             
           <div class="col-md-6">
            <img class="mx-auto d-block" width="55%" src="/img/404.png" data-reactid="53">
            </div>
                <div class="col-md-4">
                <h3>JEJDA! STRÁNKA NENALEZENA.</h3>
            <p>Asi jste někde špatně odbočili, protože hledanou stránku nemůžeme nikde najít.</p>
        
            </div>
        </div>
      </div>
{% endblock %}