{% extends "base.html.twig" %}
{% block content %}
      <div class="container" id="nav">
      <div class="row text-center">
                 <div class="col-md-4">
            <p>This page doesn't exist.</p>
            </div>
           <div class="col-md-4">
            <img class="mx-auto d-block" width="85%" src="/img/404.gif" data-reactid="53">
            </div>
        </div>
      </div>
{% endblock %}