{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
<!-- PushAlert -->
        <script type="text/javascript">
                (function(d, t) {
                        var g = d.createElement(t),
                        s = d.getElementsByTagName(t)[0];
                        g.src = "https://cdn.pushalert.co/integrate_70b83648ef266400c94dc8c2cdfefa5c.js";
                        s.parentNode.insertBefore(g, s);
                }(document, "script"));
        </script>
        <!-- End PushAlert -->
{% endblock %}
{% block content %}
<p>Notify</p>
{% endblock %}