{% extends "base.html.twig" %}
{% block content %}
<h2 class="page-title">Vítáme Vás na našem svatebním webu. Najdete zde veškeré informace k nadcházející události. Zatím jsou stránky ve výstavbě, tak prosíme za strpení, postupně to tu budeme plnit. </h2>

<h2 class="page-title">Důležité osoby: </h2>
<div class="container">
        {% for pp in team %}

<div class="gallery col-xs-6 col-sm-4 col-md-3">
   <img src="{{pp.img}}" alt="{{pp.alt}}" width="100%">
  <h2 class="desc">{{pp.title}}</h2>
  <p height="40px">{{pp.desc}}</p>
</div>
        {% endfor %}
</div>

<h2 class="page-title">Těšíme se na Vás! </h2>


{% endblock %}