{% extends "base.html.twig" %}
{% block content %}
<h2 class="page-title">Vítáme Vás na našem svatebním webu. Najdete zde veškeré informace k nadcházející události. Zatím jsou stránky ve výstavbě, tak prosíme za strpení, postupně to tu budeme plnit. </h2>
<div class="card">Přidat událost do kalandáře. </div>
<h2 class="card">Důležité osoby: </h2>

<div class="gallery col-md-2 col-xs-4">
    <img src="/img/photo/michal.jpg" alt="Michal">
  <h2 class="desc">Svěděk Michal</h2>
  <p> Tato osoba zodpovídá za celou svatbu. Když se něco pokazí, tak si stěžujte tady. V případě, že budete chtít znát nějaké informace, Michal Vám rád pomůže, bude ten nejlépe informovaný.</p>
</div>

<div class="gallery col-md-2 col-xs-4">
    <img src="/img/photo/misa.jpg" alt="Míša">
  <h2 class="desc">Svědkyně Míša</h2>
  <p> Zde se obracejte pokud Vám bude scházet kofein, nebo v jakýkoliv organizačních záležitostech.</p>
</div>

<div class="gallery col-md-2 col-xs-4">
    <img src="/img/photo/misa.jpg" alt="Míša">
  <h2 class="desc">Dužicka Wendy</h2>
  <p>Tady je zodpovědná odoba za zásobování, když dojde jídlo, nebo pití zkuste si vyškemrat u Wendy.</p>
</div>

<div class="gallery col-md-2 col-xs-4">
    <img src="/img/photo/misa.jpg" alt="Míša">
  <h2 class="desc">Družička Káťa</h2>
  <p>Tady je zodpovědná odoba za zásobování č.2, když dojde jídlo, nebo pití zkuste si vyškemrat u Wendy, když Vám nic nedá, zkuste ještě Káťu.</p>
</div>

<div class="gallery col-md-2 col-xs-4">
    <img src="/img/photo/misa.jpg" alt="Míša">
  <h2 class="desc">Družička Ella</h2>
  <p> Od Elly se toho dá čekat hodně, ale s dotazy se na ní neobracejte. Když budete chtít něco namalovat, tak to bude ta pravá koho hledáte. </p>
</div>

<div class="gallery col-md-2 col-xs-4">
    <img src="/img/photo/filip.jpg" alt="Míša">
  <h2 class="desc">Mládenec Filip</h2>
  <p> Tadyhle za Fílou si můžete přijít popovídat. V poslední době je u něj velké téma Minecraft, takže pokud chtece herní rady, nebo diskuze, určitě rád pomůže. </p>
</div>
{% endblock %}