{% extends "base.html.twig" %}
{% block content %}
<h2 class="page-title">Vítáme Vás na našem svatebním webu. Najdete zde veškeré informace k nadcházející události. Zatím jsou stránky ve výstavbě, tak prosíme za strpení, postupně to tu budeme plnit. </h2>
<div class="card">Přidat událost do kalandáře. </div>
<h2 class="card">Důležité osoby: </h2>
<div class="card">Svěděk - Michal </div>
<div class="card">Svědkyně - Míša </div>
<div class="card">Drižičky -  </div>




{% endblock %}