{% extends "base.html.twig" %}
{% block content %}
<h1 class="page-title">zatímco my budeme s rodinou baštit, vy se můžete jen podívat na některou z těchto památek:</h1>

<div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Hrad <span class="text-muted">Valdštejn</span></h2>
      <p class="lead">Valdštejn (Waldstein) je zřícenina v okrese Semily blízko Turnova, v oblasti Českého ráje. Rodový hrad pánů z Valdštejna pochází z druhé poloviny 13. století. Je jedním z nejstarších hradů v tomto kraji.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="/img/tip/valdstejn.jpg" alt="Hrad Valdštejn">
    </div>
  </div>
  
  <hr class="featurette-divider">
  
  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Zámek Hrubá Skála</h2>
      <p class="lead">Romantický zámek byl postaven na pískovcových skalách na místě středověkého hradu ze 14. století. Je jednou z dominant Českého ráje. Ze zámecké věže se nabízí krásný výhled na okolní krajinu.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="/img/tip/hruba-skala.jpg" alt="Hruba Skala">
    </div>
  </div>
  
  <hr class="featurette-divider">
  
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Hrad trosky</h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>
  
{% endblock %}