{% extends "base.html.twig" %}
{% block content %}
<h2 class="page-title">Obřad bude na Vodárně v Ohrazenicích od 12:00.</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d633.0903894627106!2d15.131661828109948!3d50.601818835568096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470eb3d0a88a4f73%3A0xf8864508be02709f!2sVodojem%20Ohrazenice!5e0!3m2!1scs!2scz!4v1596328637775!5m2!1scs!2scz" width="100%" height="450" zoom="22" frameborder="1" style="border:0;" allowfullscreen="1" aria-hidden="false" tabindex="0"></iframe>


  <div class="card"><img src="/img/vodojem.jpg" width="60%" alt="Vodojem"></div>

  <div class="card"><a href="https://stavbaroku.lk/projekt/vezovy-vodojem-ohrazenice">Zde</a> můžete hlasovat pro tuto stavbu jako Stavbu roku Libereckého kraje 2020.</div>


     
{% endblock %}